$White: #FFFFFF;
$DarkGrey: #D77733;
$MidGrey: #3D5982;
$Black:  #000000;
$LightGrey: #8D8D8D;
$Green: green;
$Purple: #292929;
$LightBlue: #f4f4ff;
$MiddleGrey: #4A4A4A;
$InterGrey: #383838;

$desktop: 1025px;
