.btn {
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    height: 3.25rem;
    line-height: 20px;
    min-width: 8.5rem;
    transition: color 0.3s ease;
}